<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email validation success</title>
</head>
<body>
    <p>You now can freely use all apps under senhung.net.</p>

    <p>Thank you very much for registering!</p>
</body>
</html>
