<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verify your email</title>
</head>
<body>
    <p>Click <a href="<%= verificationLink %>">here</a> to verify your email address.</p>

    <p><strong>If you did not registered on senhung.net, please ignore this email.</strong></p>

    <p>If the above link does not work, copy the following link and open it in a browser.</p>
    <a href="<%= verificationLink %>"><%= verificationLink %></a>
</body>
</html>
